@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {

  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.row {
    top: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col-md-4{
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}


@media (min-width: 768px) {
  .col-md-4 { /*Agrupacion de 4 en las imagenes*/
    flex: 0 0 25%;
    max-width: 25%;
  }
}

p{
  color: white;
}

.card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: black; /*Cambiar color */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  filter: opacity(70%);
}

.bg-black {
  background-color: #000000 !important;
}


.mb-3 {
  margin-bottom: 1rem !important;
}

.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 768px) {
.mb-md-0 {
    margin-bottom: 0 !important;
  }
}

.text-center {
  text-align: center !important;
}

.masthead {
/*position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 15rem 0;
*/
  background: url("fondo5.png");
  background-size: cover;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  margin-bottom: 40px; /*Separacion entre cartas*/
}

.aws2{
    top: 270px;
  font-size: 40pt;
  font-weight: bold;
  position: relative;
  font-family: "Varela Round";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.aws2:hover {
  filter: contrast(250%);
}
.aws2:nth-child(1) {
  color: #00bef8;
}
.aws{
    top:89px;
  font-size: 60pt;
  font-weight: bold;
  position: relative;
  font-family: "Varela Round";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.aws span:hover {
  filter: contrast(250%);
}
.aws span:nth-child(1) {
  color: #00bef8;
}
.aws span:nth-child(2) {
  color: #ff0697;
}
.aws span:nth-child(3) {
  color: #ff4d00;
}
.aws span:nth-child(4) {
  color: #ffe600;
}
.aws span:nth-child(5) {
  color: #bb00ff;
}

.checkeable input {
  display: none;
}
.checkeable img {
  width: 300px;
  height: 190px;
  border: 5px solid transparent;
}
.checkeable input {
  display: none;
}
.checkeable input:checked  + img {
  border-color: #773363;
}

.card-body:hover{
  filter: none;
}

.cajcal{
  height: 21px;
  width:  21px;
}

p{
  font-size:25px;
}

input[type=submit] {
    border-radius: 10px;
  margin-left: 480px;
  font-size: 20px;
  padding:  16px 32px;
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

input[type=submit]:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}