<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Botones piteros</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<select name="select">
  			<option value="value1">Fornite</option>
  			<option value="value2" selected>GTA V</option>
  			<option value="value3">Warzone</option>
		</select>
	</div>
	<div>
		<select name="select">
  			<option value="value1">1080</option>
  			<option value="value2" selected>2K</option>
  			<option value="value3">4K</option>
		</select>
	</div>
	<div>
		<button>Ya esta perra</button>
	</div>
</body>
</html>