<!DOCTYPE HTML>
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Prototipo de compatibilidad</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />

        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

        <link  rel="stylesheet" href="/static/css/styles.css"/>
    </head>
<body>

        <header class="masthead" >
        <div class="aws">
        <div class="mx-auto text-center" >
                    <span>Prototipo Componentes de PC</span>
                    <p></p>
                    <span>LAWU AI FU</span>
                    <div class="container-fluid aws2 bg-2">
                        <p>INSTRUCCIONES</p>
                        <p>- Selecciones de 1 a 3 juegos de la lista siguente</p>
                        <p>- Seleccione una de las resoluciones</p>
                    </div>
                </div>
        </div>
        <div class="monachina">
        <img  style="width:100%; height:450px;" src ="/static/img/miku.png"/>
        </div>
        </header>


        <section class="contact-section bg-black">
            <form action="/" method="POST">
            <div class="container">
                <p><p><p><p><p>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="1"/>
                                    <img src="/static/img/dota.jpg"/>
                                    <p>Dota 2</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="2"/>
                                    <img src="/static/img/counter.jpg"/>
                                    <p>Counter-Strike: Global Offensive</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="3"/>
                                    <img src="/static/img/path_of_exile.jpg"/>
                                    <p>Path of Exile</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="4"/>
                                    <img src="/static/img/age_of_empires_iv.png"/>
                                    <p>Age of Empires IV</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="5"/>
                                    <img src="/static/img/rust.jpg"/>
                                    <p>Rust</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="6"/>
                                    <img src="/static/img/tf2.jpg"/>
                                    <p>Team Fortress 2</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="7"/>
                                    <img src="/static/img/apex.jpg"/>
                                    <p>Apex Legends</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="8"/>
                                    <img src="/static/img/Payday2.jpeg"/>
                                    <p>Payday 2</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="9"/>
                                    <img src="/static/img/football_manager_2021.jpg"/>
                                    <p>Football Manager 2021</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="10"/>
                                    <img src="/static/img/six_siege.jpg"/>
                                    <p>Rainbow Six Siege</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="11"/>
                                    <img src="/static/img/FFXIV.jpg"/>
                                    <p>Final Fantasy XIV</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="12"/>
                                    <img src="/static/img/destiny_2.png"/>
                                    <p>Destiny 2</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="13"/>
                                    <img src="/static/img/dbd.jpeg"/>
                                    <p>Dead by Deadlight</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="14"/>
                                    <img src="/static/img/GTA_V.jpg"/>
                                    <p>GTA V</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="15"/>
                                    <img src="/static/img/ARK.jpg"/>
                                    <p>ARK</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="16"/>
                                    <img src="/static/img/PUBG.jpg"/>
                                    <p>PUGB BATTLEGROUNDS</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="17"/>
                                    <img src="/static/img/rocket_league.jpg"/>
                                    <p>Rocket League</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="18"/>
                                    <img src="/static/img/new_world.jpg"/>
                                    <p>New World</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="19"/>
                                    <img src="/static/img/Halo.jpg"/>
                                    <p>Halo Infinite</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <label class="checkeable">
                                    <input type="checkbox" name="cap1" value="20"/>
                                    <img src="/static/img/RDR.jpg"/>
                                    <p>Red Dead Redemption 2</p>
                                </label>
                            </div>
                        </div>
                    </div>

                <div class= "text-font">
                    <p>Seleccione la calidad en la que desea jugar:
                    <input type="radio" class="cajcal" name="cal1" value="1"/> 1080
                    <input type="radio" class="cajcal" name="cal1" value="2"/> 1440
                    <input type="radio" class="cajcal" name="cal1" value="3"/> 4k</p>
                    </div>
                    <div>
                    <input type="submit" value="Consulta">
                </div>

                </div>
            </div>
            </form>
        </section>

                <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h6>Sobre nosotros</h6>
                  <p class="text-justify">Somos un equipo de la carrera de ingeniería en informática que se enfoco realizar un sistema para el ensamblaje de computadoras </p>
                </div>
                <div class="col-md-5">
                    <h6>Más información</h6>
                    <ul class="footer-links">
                      <li><a href="http://scanfcode.com/category/c-language/">Steam</a></li>
                      <li><a href="http://scanfcode.com/category/front-end-development/">Ryzen</a></li>
                      <li><a href="http://scanfcode.com/category/back-end-development/"></a></li>
                    </ul>
                  </div>
              </div>
              <hr>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
               <a href="http://proyectosusanaas.pythonanywhere.com/simpleform">EQUIPO 8</a>.
                  </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
      </footer>





</body>
</html>