<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Prototipo de compatibilidad</title>
    </head>
    <body style="background-color: black">
    <!-- Masthead-->
    <header class="masthead">
        <div class="aws">
                <img style="display:block; margin:auto; margin-top: 100px; width: 25%; height: 60%;" src="/static/img/cancelar.png">
                <p style="text-align: center !important; color:white; font-size: 25pt;">Selecciona de 1 a 3 juegos y una resolucion</p>
                <button style="padding: 10px 40px; font-size: 16px; display: block; margin: auto;"><a href="http://proyectosusanaas.pythonanywhere.com">Regresar</a></button>
        </div>
    </header>
    </body>
</html>

